<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="E:\Fatec\Projeto - Programacao WEB\plataformaordemdeserviço\plataformaordemdeservico\Views\style.css" />


</head>



<style>

    header {
        background-color: rgb(34 31 32);
        color: rgb(0,115,132);
    }

    body {
        background-color: rgb(34 31 32);
        color: rgb(0,115,132);
        font-size: 30px;
        
    }

    .text {
        color: rgb(0,115,132);
        

    }

    .box {
        background-color: rgb(34 31 32);
        color: rgb(0,115,132);
        text-align: center;
    }


    .footer-basic {
        padding: 40px;
        margin-top: 40px;
        position: initial;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(34 31 32);
        color: rgb(0,115,132);
    }

        .footer-basic ul {
            padding: 0;
            list-style: none;
            text-align: center;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 0;
        }

        .footer-basic li {
            padding: 0 10px;
        }

        .footer-basic ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }

            .footer-basic ul a:hover {
                opacity: 1;
            }

        .footer-basic .social {
            text-align: center;
            padding-bottom: 25px;
        }

            .footer-basic .social > a {
                font-size: 24px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                /*border: 1px solid #ccc;*/
                margin: 0 8px;
                color: inherit;
                opacity: 0.75;
            }

                .footer-basic .social > a:hover {
                    opacity: 0.9;
                }

        .footer-basic .copyright {
            margin-top: 15px;
            text-align: center;
            font-size: 13px;
            color: rgb(0,115,132);
            margin-bottom: 0;
        }


</style>


<body>
    <header>
       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 ">
            <img src="~/images/SD-INFORMÁTICA_logotipo.png" width="200" height="160" />
            <div class="container">
                @*<a class="navbar-brand"  asp-area="" asp-controller="Home" asp-action="Index"></a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="true" s aria-label="Toggle navigation">


                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Notebook" asp-action="CreateNotebook">Notebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Computadores" asp-action="CreateComputadores">Computadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Monitores" asp-action="CreateMonitores">Monitores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Impressoras" asp-action="CreateImpressoras">Impressoras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Celulares" asp-action="CreateCelulares">Celulares</a>
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MinhasSolicitacoes">Minhas Solicitações</a>
                    </li>*@
                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MinhaConta">Minhas Conta</a>
                    </li>*@
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Cadastro" asp-action="CreateCadastro">Cadastre-se</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>


    <div class="footer-basic">
        <footer>
            <div class="social">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                    <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                    <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
                </ul>
                <br />
                <a href="#"> <i class="icon ion-social-snapchat"> <img src="~/images/linkedid.png"></i></a>
                <a href="#"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
                <a href="#"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
                <a href=""> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
            </div>
            
            <p class="copyright">SD - INFORMATICA © 2022</p>
        </footer>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
