@model plataformaordemdeservico.Models.FaleConosco

@{
    ViewData["Title"] = "CreateFaleConosco";
}

</br>

<h2>Dúvidas e/ou Sugestões</h2>
</br></br>
<hr />

<style>
    h2 {
        text-align: center;
    }
    .text-bnt {
        color: rgb(0,115,132);
        font-size: 16px;
    }

    .btn-save {
        background-color: rgb(34 31 32); /* Green */
        border: solid rgb(0,115,132);
        color: rgb(0,115,132);
        padding: 15px 32px;
        text-align: center;
        text-decoration: solid;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div class="row">
    <div class="col-md-6 text-bnt">
        <form asp-action="CreateFaleConosco">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="cod_falcon" class="control-label"></label>
                    <input asp-for="cod_falcon" class="form-control" />
                    <span asp-validation-for="cod_falcon" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="tipo_registro" class="control-label">Tipo de Contato:</label>
                <input asp-for="tipo_registro" class="form-control" />
                <span asp-validation-for="tipo_registro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao_falcon" class="control-label">Descrição:</label>
                <input asp-for="descricao_falcon" class="form-control" />
                <span asp-validation-for="descricao_falcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anexo_falcon" class="control-label">anexo</label>
                <input asp-for="anexo_falcon" class="form-control" />
                <span asp-validation-for="anexo_falcon" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="data" class="control-label"></label>
                    <input asp-for="data" class="form-control" />
                    <span asp-validation-for="data" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-secondary text-bnt btn-save" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
