@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Solicite seu reparo</h1>
    <br />
    <h4 style="color:rgb(0,115,132);"> MEU CORPO DO TEXTO</h4>

</div>
