@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />


<style>
    .box-card-left {
        
        width: 600px;
        height: 220px;
        margin: 0 0 30px;
        padding: 25px 20px 5px;
        border-radius: 13px;
        box-shadow: 0 3px 12px 0 /*rgb(0 0 0);*/
    }

    .box-card-left-1 {
        
        position: relative;
        right: -500px;
        width: 600px;
        height: 220px;
        margin: 0 0 30px;
        padding: 25px 20px 5px;
        border-radius: 13px;
        box-shadow: 0 3px 12px 0 /*rgb(0 0 0)*/;
        
    }

    .text-card {
        font-size: 16px;
        text-align: justify;
        
    }

</style>


<nav>

    <div class="box-card-left">
        <div>
            @*<img src="~/images/facebook.png" />*@
            <h2>Soluções</h2>
            <p class="text-card">
                Projeto e Implantação para Cabeamento Estruturado,
                Manutenção Preventiva em Servidores,                Conserto de Monitores,
                Conserto de Impressoras,                           Conserto de Nobreaks,
                Conserto de Notebooks e Microcomputadores,           Contrato de Manutenção de Informática e Segurança Eletrônica,
                Segurança Eletrônica,                                Conserto de Celulares e Tablets.
            </p>
        </div>
    </div>
    <br />
    <div class="box-card-left-1">
        <div>
            <h2>Autorizada</h2>
            <p class="text-card">
                Assistência Técnica HP
                » Assistência Técnica EPSON
                » Assistência Técnica LEXMARK
                » Assistência Técnica BROTHER
                » Assistência Técnica XEROX
                » Assistência Técnica CANON
                » Assistência Técnica SHARP
                » Assistência Técnica SAMSUNG
                » Assistência Técnica LG
                » Assistência Técnica PANASONIC
                » Assistência Técnica PHILIPS
                » Assistência Técnica SONY
                » Assistência Técnica TOSHIBA
                » Assistência Técnica KODAK
                » Assistência Técnica AOC
            </p>
        </div>
    </div>
    <br />
    <div class="box-card-left">
        <div>
            <h2>A Empresa</h2>
            <p class="text-card">
                O Consertos na Zona Norte atua há mais de 10 anos no mercado de telefonia móvel,
                principalmente no segmento de assistência técnica em Ipad, micro computadores,
                monitores, tablet’s, celulares e iphone sempre com a utilização de tecnologia de ponta.
                Somos uma empresa de assistência técnica autorizada pelas melhores marcas do mercado.
                Conheça abaixo alguns de nossos serviços em consertos de notebook.
                </p>
        </div>
    </div>
    <br />
    <div class="box-card-left-1">
        <h2>Parceiros</h2>
        <div>
            <p class=" text-center">
                Acer -  Dell -    Sony Vaio
            </p>
            <p class="text-center">
                Samsung - LG - HP
            </p>
        </div>
        
    </div>

</nav>




<div class="footer-basic">
    <footer>
        <div class="social foo">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
            </ul>
            <br />
            <a href="https://www.linkedin.com/feed/?trk=BR-SEM_google-adwords_Jordan-brand-sign-up"> <img src="~/images/linkedid.png" /> <i class="icon ion-social-snapchat"> </i></a>
            <a href="https://www.facebook.com/"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
            <a href="https://www.instagram.com/"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
            <a href="https://www.whatsapp.com/?lang=pt_br"> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
        </div>

        <p class="copyright">SD - INFORMATICA © 2022</p>
    </footer>
</div>
