
<h1>Em manutenção</h1>


<div class="footer-basic">
    <footer>
        <div class="social">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
            </ul>
            <br />
            <a href="https://www.linkedin.com/feed/?trk=BR-SEM_google-adwords_Jordan-brand-sign-up"> <img src="~/images/linkedid.png" /> <i class="icon ion-social-snapchat"> </i></a>
            <a href="https://www.facebook.com/"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
            <a href="https://www.instagram.com/"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
            <a href="https://www.whatsapp.com/?lang=pt_br"> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
        </div>

        <p class="copyright">SD - INFORMATICA © 2022</p>
    </footer>
</div>

