
<br />
<br />


<style>
    .box-card-left {
        /*background: tran;*/
        position: relative;
        width: 1110px;
        height: 4128px;
        margin: 0 0 30px;
        padding: 25px 20px 5px;
        border-radius: 13px;
        box-shadow: 0 3px 12px 0 rgb(0 0 0);
    }


    .text-card {
        position: relative;
        width: 1080px;
        /*height: 220px;*/
        font-size: 16px;
        text-align: justify;
    }
</style>


<nav>

    <div class="box-card-left">
        <div>

            <h3>Privacidade</h3>
            <br />
            <p class="text-card">

                O Grupo  , assim como   Brasil, entende que a proteção de dados pessoais é essencial para a garantia do direito à privacidade. Nossa missão é garantir que você sinta confiança ao contratar nossos serviços e entenda que terá os seus direitos resguardados para caminharmos juntos.
                A   Brasil se compromete a cumprir as diretrizes de privacidade exigidas por lei, bem como definidas na política global da   https://www. .com/ac/pt/BR/content/privacy e no presente aviso de privacidade. Na hipótese de conflito entre os direitos mencionados na política global e neste aviso de privacidade, prevalecerá o descrito neste documento.
                Este aviso foi criado para manifestar nosso compromisso em sempre tratar seus dados pessoais com zelo, segurança, privacidade e transparência, com objetivo fornecer uma visão transparente das práticas da   Brasil relacionadas à coleta, uso, compartilhamento e armazenamento dos seus dados pessoais.
                Recomendamos que você leia este Aviso de Privacidade do início ao fim, pois aqui explicamos como tratamos as suas informações pessoais quando você se relaciona com a  .
                Ao utilizar o site da  , você declara que é maior de 18 (dezoito) anos e que leu e entendeu as regras deste documento, conferindo, assim, a sua livre e expressa concordância às condições deste Aviso de Privacidade.
                CASO VOCÊ NÃO CONCORDE COM OS TERMOS E CONDIÇÕES DA POLÍTICA DE PRIVACIDADE, POR FAVOR, NÃO UTILIZE O NOSSO SITE E NEM ADQUIRA OS NOSSOS PRODUTOS.
            <p />
            <br />
            <h4>O QUE VOCÊ PRECISA SABER ANTES DE LER ESSE AVISO?</h4>

            <p class="text-card">
                Dados pessoais são todas as informações que permitem a sua identificação. Como por exemplo, seu nome, CPF, e-mail, profissão, entre outros.
                Encarregado é a pessoa do nosso time responsável por cuidar da sua privacidade aqui na  . Se você tiver qualquer dúvida sobre como os seus dados são tratados por nós, é ele quem vai te ajudar.
                Tratamento de dados pessoais significa qualquer operação, como a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração, realizada com dados pessoais.
                Toda vez que houver menção aos termos “nós” ou “nossos”, estamos nos referindo à   Brasil e, de igual modo, toda vez que houver menção aos termos “você, “seu” ou “sua”, estamos nos referindo a Você.
            <p />
            <br />
            <h4>QUAIS DADOS PESSOAIS NÓS TRATAMOS?</h4>

            <p class="text-card">

                Dados necessários para a relação comercial
                Para iniciarmos e mantermos um relacionamento comercial, precisamos tratar diversos de seus dados pessoais.
                Esses dados podem nos ser informados diretamente por você, por terceiros, ou ainda, coletados de forma automática (como por exemplo, os cookies).
                Essencialmente, para que você adquira nossos produtos ou soluções, nós tratamos os seguintes dados:
                •	Dados cadastrais: nome, CPF, e-mail, endereço, data nascimento, telefone, gênero.
                •	Dados financeiros: dados bancários (banco, agência e conta), dados de cartão de crédito.
                •	Dados de compra: login de acesso e número do pedido.
                •	Dados de consumo: perfil de consumo, compras e interesses.
                Para informações detalhadas sobre o processo de compra de produtos, consulte os nossos Termos e Condições de Compra, disponível em: https://br-store. .com/institucional/termoscondicoes.
            <p />
            <br />
            <h4>ID</h4>

            <p class="text-card">
                A fim de permitir que você crie um  ID, precisamos coletar e processar as seguintes informações: endereço de e-mail, nome, sobrenome, ID de acesso social (tais como ID do Facebook e ID do Google), país e idioma.
                Estas informações são requisitos mínimos e, portanto, necessárias para permitir que você crie um  ID. Quando da criação do  ID, você também precisará preencher seu perfil fornecendo informações adicionais, tais como seu número de telefone, endereço, informações necessárias para o registro de um produto  , entre outras.
                Botões, ferramentas, conteúdo de fornecedores e empresas terceiras
                Os Websites, Serviços e determinados aplicativos da   que lhe oferecemos poderão incluir botões ou conteúdo ligados a outros serviços de outras empresas. Nós poderemos coletar as informações sobre o seu perfil de usuário destes recursos.
                Além disso, ao ativar tais botões, ferramentas, conteúdos, ou visualizar uma página na web com hyperlink para eles, algumas informações de seu navegador poderão ser automaticamente enviadas ao fornecedor ou empresa terceira. Para obter mais informações, leia a política de privacidade das empresas em questão. Você poderá optar por cancelar a subscrição de e-mails futuros por meio do site destes parceiros a qualquer momento.
                Newsletter da
                É também possível, optar por receber a nossa newsletter sem criar um ID da  . A este respeito, a única informação que precisamos de recolher e processar é o endereço de e-mail, país e idioma.
                Dados técnicos de acesso ao nosso website
                Quando você acessa o nosso website, alguns dados pessoais seus são coletados de forma automática. Esses dados de acesso incluem, por exemplo, geolocalização, o nome do seu provedor de serviços de internet, o endereço IP, informações sobre o navegador e o sistema operacional usado, seu modelo de hardware, identificadores únicos do dispositivo, a duração média de uma visita e as páginas acessadas em nosso website.
                Esses dados são enviados ao nosso servidor da web sempre que páginas individuais da Internet são acessadas pelo seu browser de Internet. O armazenamento temporário de dados pelo sistema, incluindo o endereço IP, é necessário para permitir que o nosso website seja disponibilizado no computador do usuário e nos ajuda a compreender os padrões de tráfego dos visitantes, através dos nossos Serviços e website, para que possamos melhorar a capacidade de utilização do nosso website. Para essa finalidade, o endereço IP do usuário e outros dados devem permanecer salvos pelo tempo de duração da sessão.
            <p />
            <br />
            <h4>Cookies</h4>

            <p class="text-card">
                Nós também adicionamos cookies a algumas áreas do nosso website. Cookie é um pequeno arquivo adicionado ao seu dispositivo ou computador para fornecer uma experiência personalizada de acesso. Os cookies ajudam a analisar o tráfego de internet e nos permitem saber quando você visitou um site específico. Destacamos que um cookie não dá acesso a seu computador ou revela informações além daquelas que você escolhe compartilhar conosco.
                Não temos a intenção de infringir a sua privacidade enquanto visita o nosso website. A maior parte dos navegadores permite apagar os cookies do disco rígido do seu computador, bloquear a aceitação de cookies ou receber um aviso antes do armazenamento de um cookie. Você pode optar por configurar o seu navegador para o notificar sempre que receber um cookie, o que lhe permitirá aceitar ou rejeitar o cookie.
                É importante que você saiba que nós usamos os cookies, por exemplo, para contar quantos visitantes recebemos no nosso website, possibilitar que você navegue sem complicação e de forma ágil, e para lembrar as suas preferências de idioma.
            <p />
            <br />
            <h4>Dados de crianças</h4>
            <p class="text-card">
                Não coletamos dados pessoais de indivíduos menores de 12 (doze) anos e solicitamos que não nos envie ou forneça essas informações.
            <p />
            <br />
            <h4>COMO UTILIZAMOS OS SEUS DADOS PESSOAIS?</h4>
            <p class="text-card">
                Nós tratamos seus dados pessoais para que seja possível viabilizarmos nossa relação comercial. Coletamos seus dados para que possamos fazer todo o processo de venda de nossos produtos, para o qual realizamos o seu cadastro, emitimos notas fiscais, preparamos seu pedido e o enviamos até o endereço desejado. Nós podemos utilizar o seu número de telefone e/ou e-mail para enviarmos, por nós ou por meio de terceiros autorizados, informações a respeito do seu pedido de compra.
                Além disso, para que seja possível te manter atualizado sobre o que há de melhor disponível no mercado, utilizamos os seus dados cadastrais ou redes sociais para lhe enviarmos materiais de divulgação sobre nossos produtos, por meio de comunicações e marketing direcionado.
                Utilizamos seus dados pessoais para dar seguimento à nossa relação comercial em casos de necessidade em reparo na sua compra, lhe prestar o melhor atendimento, proporcionar acordos, troca de produtos e restituição do valor pago. Também tratamos seus dados pessoais para te ouvir, seja por meio de uma reclamação ou de um feedback, o que é super importante para nós! O histórico de seu atendimento, incluindo os seus dados pessoais e eventuais feedbacks poderão ser compartilhados com o grupo   fora do Brasil para que o time de Qualidade analise e possa, dessa forma, melhorar cada vez mais os nossos serviços.
                Caso faça um compra conosco e não consiga pagar o valor do produto, entraremos em contato com você para entender o que está acontecendo e para que a situação seja resolvida.
                Por fim, seus dados pessoais poderão ser utilizados para o atendimento de obrigações dispostas em lei, regulamentações de órgãos governamentais, autoridades fiscais, sentenças proferidas pelo Poder Judiciário, e/ou qualquer outra requisição de autoridades competentes. Este tratamento poderá incluir seus dados de identificação e documentos pessoais.
                Caso nosso contrato se finde, manteremos armazenados alguns de seus dados pessoais, necessários para o cumprimento de obrigações legais e para resguardarmos os nossos direitos, especialmente no que se refere a processos judiciais e extrajudiciais.
            <p />
            <br />
            <h4>COM QUEM COMPARTILHAMOS OS SEUS DADOS PESSOAIS?</h4>
            <p class="text-card">
                Nós compartilhamos os seus dados pessoais com empresas do mesmo grupo econômico da  , consultorias de publicidade e marketing, empresas de cobrança, escritórios de advocacia, empresas terceiras que nos ajudam a prestar o melhor atendimento a você, órgãos públicos, entidades de proteção ao crédito e parceiros de negócio.
                Para resguardar a sua privacidade, nós utilizamos instrumentos contratuais e auditorias para assegurar que os terceiros que recebam os seus dados pessoais em nosso nome, confiram a eles a mesma proteção que nós.
                É possível que haja transferência dos seus dados pessoais para fora do Brasil, para países como: Uruguai, Estados Unidos da América, China e Taiwan, em razão da nossa operação ser global. Nestes casos, nos certificaremos de que essa transferência ocorra apenas para os países que possuem um grau de proteção de dados similar ao previsto pela legislação brasileira, ou, quando a Autoridade Nacional de Proteção de Dados Pessoais assim autorizar.
                Em caso de fusão, ou se qualquer parte do grupo   for adquirida por outra empresa (ou entrar em negociações com esse intuito), podemos partilhar os seus dados com tal empresa e os seus consultores, mas se o fizermos garantiremos que são tomadas medidas para que os seus direitos, no que respeita aos seus dados, continuem a ser protegidos.
            <p />
            <br />
            <h4>QUAIS SÃO OS SEUS DIREITOS?</h4>
            <p class="text-card">
                Você, enquanto titular de dados pessoais e nosso cliente, possui os seguintes direitos relativos às suas informações pessoais:
                •	Saber se realizamos algum tratamento com seus dados pessoais e quais são tratados;
                •	Corrigir ou solicitar a correção de dados incompletos, inexatos ou desatualizados;
                •	Solicitar a anonimização, bloqueio ou eliminação de dados desnecessários e excessivos;
                •	Solicitar a portabilidade dos dados a outro fornecedor de produtos ou serviços similares;
                •	Solicitar a eliminação dos dados coletados e utilizados com base no seu consentimento;
                •	Obter informações sobre as entidades públicas ou privadas com as quais compartilhamos os seus dados;
                •	Quando a atividade de tratamento necessitar do seu consentimento, você pode se negar a consentir. Nesse caso, lhe informaremos sobre as consequências da não realização de tal atividade;
                •	Quando a atividade de tratamento necessitar do seu consentimento, a qualquer momento você poderá revogá-lo.
                Para exercer os seus direitos, entre em contato com o nosso Encarregado, por meio do e-mail dpobrasil .com. Podemos solicitar a confirmação de alguns dados pessoais para termos a certeza de que a requisição está sendo feita pelo titular dos dados.
            <p />
            <br />
            <h4>POR QUANTO TEMPO TRATAMOS OS SEUS DADOS PESSOAIS</h4>
            <p class="text-card">
                Reteremos seus dados pessoais pelo tempo que for necessário para cumprir a finalidade para a qual foram coletados, a menos que um período de retenção mais longo seja necessário para cumprir obrigações legais, resguardar nossos direitos, proteger nossos ativos ou cumprir acordos judiciais/extrajudiciais.
                Para determinar o período de retenção de seus dados pessoais, nos baseamos nos seguintes critérios:
                •	Se temos uma obrigação legal, contratual ou outra de reter dados pessoais, ou se são necessários para fins de investigação ou litígio;
                •	Se são necessários para manter registros comerciais e financeiros precisos;
                •	Se existem meios automatizados para permitir que você acesse e exclua seus dados pessoais a qualquer momento;
                •	Se você consentiu em reter seus dados pessoais por um período de retenção mais longo; nesse caso, reteremos os dados pessoais de acordo com seu consentimento.
            <p />
            <br />
            <h4>COMO MANTEMOS SEUS DADOS SEGUROS?</h4>
            <p class="text-card">
                Nós adotamos políticas e procedimentos rigorosos que determinam como os dados pessoais devem ser tratados aqui na   Brasil. Tais normas têm como objetivo garantir o tratamento adequado e lícito de dados pessoais.
                Adotamos, também, medidas técnicas aptas a manter os seus dados pessoais seguros e protegidos de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer outra forma de tratamento inadequado ou ilícito, sempre à luz das regras aplicáveis de proteção de dados e segurança da informação.
                Para evitar falhas de segurança, a   Brasil utiliza várias técnicas de segurança, tais como o protocolo SET ou a tecnologia de encriptação SSL (Secure Socket Layer), padrão do setor, principalmente para a transmissão de informações sobre cartões de crédito, ou sempre que sejam necessários dados pessoais, para protege-los de acesso não autorizado.
                Nossas medidas de segurança são continuamente monitoradas e revisadas de acordo com os avanços tecnológicos e recursos organizacionais mais atuais.
            <p />
            <br />
            <h4>OUTRAS LOCALIDADES</h4>
            <p class="text-card">
                União Europeia
                Na hipótese de precisarmos manusear dados pessoais advindos da União Europeia ou transferi-los para o Espaço Econômico Europeu ou para a Suíça, garantimos a implementação de medidas técnicas e de segurança adequadas para assegurar a proteção dos dados pessoais.
                Taiwan
                A   Brasil não trata dados pessoais advindos de Taiwan. Na hipótese do manuseio destes dados, garantimos que, de acordo com a legislação de proteção de dados pessoais aplicável, os seguintes direitos:
                • qualquer consulta e pedido de análise das informações pessoais (aplicam-se taxas dependendo de cada caso individual); • qualquer pedido para fazer duplicações de informações pessoais (aplicam-se taxas dependendo de cada caso individual); • qualquer pedido para complementar ou corrigir informação pessoal; • qualquer pedido para interromper a recolha, processamento ou uso de informações pessoais, e • qualquer pedido para eliminar as informações pessoais.
                DÚVIDAS?
                Se tiver qualquer dúvida em relação a esta Política de Privacidade ou a relativa à forma de tratamento de seus dados pessoais, você pode entrar em contato por meio do e-mail: dpobrasil .com.
            <p />
            <br />
            <h4>ATUALIZAÇÃO</h4>

            <p class="text-card">
                Pode ser que algumas das informações aqui disponibilizadas sejam atualizadas ou alteradas. Por isso, aconselhamos que você consulte esse Aviso periodicamente no endereço https://br-store. .com/.
                Última atualização: Maio/2022.
            <p />
        </div>
    </div>
    

</nav>



<div class="footer-basic">
    <footer>
        <div class="social">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
            </ul>
            <br />
            <a href="https://www.linkedin.com/feed/?trk=BR-SEM_google-adwords_Jordan-brand-sign-up"> <img src="~/images/linkedid.png" /> <i class="icon ion-social-snapchat"> </i></a>
            <a href="https://www.facebook.com/"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
            <a href="https://www.instagram.com/"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
            <a href="https://www.whatsapp.com/?lang=pt_br"> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
        </div>

        <p class="copyright">SD - INFORMATICA © 2022</p>
    </footer>
</div>

