
<h1>Em manutenção</h1>


<div class="box-card-left-1">
    <h2>Contato</h2>
    <div>
        <p class="text-card">
            Tel: 16 3252-3322
        </p>
        <p class="text-card">
            Whats: 16 98145-6260
        </p>
        <p class="text-card">
            Rua: Prudente de Moraes, 605 - Centro   Taquaritinga -SP
        </p>
        <p class="text-card">
            Funcionamento: Das 08:00 às 18:00
            De segunda e sexta

    </div>

    <div class="box-card-left-1">
        <h2>Parceiros</h2>
        <div>
            <p class="text-card">
                Acer
            </p>
            <p class="text-card">
                Samsung
            </p>
            <p class="text-card">
                Sony
            </p>
            <p class="text-card">
                Asus
            <p />
        </div>

        <div class="footer-basic">
            <footer>
                <div class="social">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
                    </ul>
                    <br />
                    <a href="https://www.linkedin.com/feed/?trk=BR-SEM_google-adwords_Jordan-brand-sign-up"> <img src="~/images/linkedid.png" /> <i class="icon ion-social-snapchat"> </i></a>
                    <a href="https://www.facebook.com/"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
                    <a href="https://www.whatsapp.com/?lang=pt_br"> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
                </div>

                <p class="copyright">SD - INFORMATICA © 2022</p>
            </footer>
        </div>
