
<br />
<br />


<style>
    .box-card-left {
        /*background: tran;*/
        width: 600px;
        height: 220px;
        margin: 0 0 30px;
        padding: 25px 20px 5px;
        border-radius: 13px;
        box-shadow: 0 3px 12px 0 rgb(0 0 0);
    }

    .box-card-left-1 {
        /*background: #fff;*/
        position: relative;
        right: -500px;
        width: 600px;
        height: 220px;
        margin: 0 0 30px;
        padding: 25px 20px 5px;
        border-radius: 13px;
        box-shadow: 0 3px 12px 0 rgb(0 0 0);
    }

    .text-card {
        font-size: 16px;
        text-align: justify;
    }
    .text-decor {
        font-size: 120px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
</style>


<nav>
    <h1 class="text-decor">Afinal</h1> 
    <h1>você sabe o que é Computação Verde?</h1>
    <div>
        <br />
        <p class=" text-card">
            Em termos mais amplos, a computação verde é definida como o estudo de projeto, engenharia, fabricação,
            uso e descarte de dispositivos de computação de forma a reduzir seu impacto ambiental,
            aliando sustentabilidade e desenvolvimento econômico.
        <p />
        <p class="text-card ">
            Tem como objetivo o estudo e o uso de recursos de Tecnologia da Informação de forma eficiente. Inclui o desenvolvimento de práticas de produção ambientalmente sustentáveis, computadores com eficiência energética e procedimentos aprimorados de eliminação e reciclagem.

            Para promover conceitos de computação verde em todos os níveis possíveis, as seguintes abordagens são empregadas:
            <br />

        <p class="text-card ">- redução do consumo de eletricidade de computadores e seus dispositivos usando-os de forma ecológica;<p />
        <p class="text-card ">- reformulação de equipamentos existentes, eliminando-os ou reciclando-os de forma adequada;<p />
        <p class="text-card ">- desenvolvimento de computadores, servidores, impressoras e outros dispositivos digitais eficientes em energia;<p />
        <p />

        <p class="text-card">
        A computação verde, ou TI / Tecnologia Verde, é um conceito que busca aplicar a conscientização para o uso sustentável de equipamentos e aparelhos tecnológicos, assim como seus recursos relacionados.

        Diversas empresas já pensam no aprimoramento do descarte e reciclagem de equipamentos, assim como na compra de aparelhos mais modernos para evitar consumo de energia. Além disso, uma das práticas muito utilizadas é o uso do armazenamento em nuvem, a fim de evitar um consumo excessivo de papel pelos integrantes.

        O conceito também prevê a substituição de armazenamento local de dados para servidores em nuvem, o que contribui para a redução das perdas de dados, custo, danos à informação e espaço físico.

        Essas práticas estão alinhadas com quatro pilares principais da computação verde, são eles:
        <p /> <br />
        <p class="text-card">- Uso verde: Prática que visa minimizar o consumo de eletricidade por máquinas de computadores e dispositivos periféricos, a fim de usá-los de maneira ecologicamente correta;<p />
        <p class="text-card">- Descarte verde: O reaproveitamento de equipamentos já existentes na empresa e/ou seu descarte adequado;<p />
        <p class="text-card">- Design ecológico: Busca pela compra e uso de computadores, servidores e demais aparelhos e dispositivos que oferecem baixo consumo de energia<p />
        <p class="text-card">- Manufatura verde: O último pilar tem o intuito de minimizar o desperdício na fabricação de computadores para reduzir o impacto ambiental dessas atividades.<p />
        






    </div>
</nav>





        <div class="footer-basic">
            <footer>
                <div class="social">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre nós</a></li>
                        <li class="list-inline-item"><a class="nav-link text" asp-area="" asp-controller="FaleConosco" asp-action="CreateFaleConosco">Fale Conosco</a></li>
                    </ul>
                    <br />
                    <a href="https://www.linkedin.com/feed/?trk=BR-SEM_google-adwords_Jordan-brand-sign-up"> <img src="~/images/linkedid.png" /> <i class="icon ion-social-snapchat"> </i></a>
                    <a href="https://www.facebook.com/"><i class="icon ion-social-twitter"> <img src="~/images/facebook.png"> </i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-facebook"> <img src="~/images/insta.png"> </i></a>
                    <a href="https://www.whatsapp.com/?lang=pt_br"> <i class="icon ion-social-linked"> <img src="~/images/Whatsapp.png"> </i> </a>
                </div>

                <p class="copyright">SD - INFORMATICA © 2022</p>
            </footer>
        </div>
