@model plataformaordemdeservico.Models.Impressoras

@{
    ViewData["Title"] = "CreateImpressoras";
}

</br></br></br></br>

<h4>Solicitação de Reparo - Impressoras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateImpressoras">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="cod_imp" class="control-label"></label>
                <input asp-for="cod_imp" class="form-control" />
                <span asp-validation-for="cod_imp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="modelo_imp" class="control-label">Modelo da Impressora:</label>
                <input asp-for="modelo_imp" class="form-control" />
                <span asp-validation-for="modelo_imp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serie_imp" class="control-label">Nº Série:</label>
                <input asp-for="serie_imp" class="form-control" />
                <span asp-validation-for="serie_imp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fabricante" class="control-label">Fabricante:</label>
                <input asp-for="fabricante" class="form-control" />
                <span asp-validation-for="fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carregador_cel" class="control-label">Possui carregador:</label>
                <input asp-for="carregador_cel" class="form-control" />
                <span asp-validation-for="carregador_cel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao_imp" class="control-label">Descrição do problema:</label>
                <input asp-for="descricao_imp" class="form-control" />
                <span asp-validation-for="descricao_imp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anexo_imp" class="control-label">anexo</label>
                <input asp-for="anexo_imp" class="form-control" />
                <span asp-validation-for="anexo_imp" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
